<!-- <p> {{speechStats | json}}</p> -->

<div class="container">
    <div class="heading"> Stats</div>
    <div class="item">
        <div class="row">
            <div class="column">Words</div>
            <div class="colu">{{speechStats?.OriginalWords}}</div>
        </div>
    </div>
    <div class="item">
        <div class="row">
            <div class="column">Missing Words</div>
            <div class="colu">{{speechStats?.DeletedWords}}</div>
        </div>
    </div>
    <div class="item">
        <div class="row">
            <div class="column">Incorrect Words </div>
            <div class="colu">{{speechStats?.Insertedwords}}</div>
        </div>
    </div>
    <div class="item accuracy">
        <div class="row">
            <div class="column">Accuracy</div>
            <div class="colu">{{speechStats?.Accuracy | number : '2.2-2'}}</div>
        </div>
    </div>
</div>
