.item {
    color: blue;
    text-decoration: dotted;
    padding-left: 1em;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.heading {
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: underline;
    text-align: center;
}
