<button (click)="compareText()">Review Now</button>
<div [innerHTML]="speechDiffString"></div>
<div>
    <div class="container">
        <div class="heading"> Learn Words </div>
        <div> ( Missing Words ) </div>
        <div class="wordsContainer">
            <div *ngFor="let word of speechOmitedWords">
                <div class="omitedWords">
                    <i class="fa" [ngClass]="{'fa-microphone-slash': isRecording, 'fa-microphone': !isRecording}" aria-hidden="true" (click)="record(word)"></i>
                    <i class="fa fa-circle-notch fa-spin" aria-hidden="true" *ngIf="isRecording && word === currentWord"></i>
                    <span>{{ word }}</span>
                    <i class="fa fa-volume-up" aria-hidden="true" (click)="speak(word)"></i>
                    <div>
                        <!-- <span *ngIf="word === currentWord"> {{progressIndicatorText}}</span> -->
                        <!-- <div [ngClass]="{'progress': progressIndicator == -1 ,
                                      'progressRed': progressIndicator == 0 ,
                                      'progressOrange': progressIndicator == 1,
                                      'progressYellow': progressIndicator == 2,
                                      'progressGreen': progressIndicator >= 3
                                      }" *ngIf="word === currentWord">
                      </div> -->
                        <!-- *ngIf="word === currentWord" -->
                        <div class="progress">
                            <div class="progressItem" [ngStyle]="wordStats[word]?.style">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="historycontainer">
        <div> {{ currentWord }} History </div>
        <div *ngFor="let status of wordStats[currentWord]" class="historyprogress">
            <div class="progressItem" [ngStyle]="status?.style"> </div>
            <div style="text-align: center"> {{ status?.progress * 25 }}% </div>
        </div>
    </div>
</div>