:host ::ng-deep del {
    color: red;
}

:host ::ng-deep ins {
    color: blue;
}

.omitedWords {
    color: blue;
    text-decoration: dotted;
    padding-left: 1em;
}

.container {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wordsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.heading {
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: underline;
}
