<div [innerHTML]="speechDiffString"></div>
<div>
    <div class="container">
        <div class="heading"> Learn Words </div>
        <div> ( Missing Words ) </div>
        <div class="wordsContainer">
            <div *ngFor="let word of speechOmitedWords">
                <div class="omitedWords">
                    <i class="fa" [ngClass]="{'fa-microphone-slash': isRecording, 'fa-microphone': !isRecording}" aria-hidden="true" (click)="record(word)"></i>
                    <i class="fa fa-circle-notch fa-spin" aria-hidden="true" *ngIf="isRecording"></i>
                    <div>
                        <span>{{ word }}</span>
                        <div class="progress" *ngIf="word === currentWord"></div>
                    </div>
                    <i class="fa fa-volume-up" aria-hidden="true" (click)="speak(word)"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="omitedWords">

                    <div *ngIf="currentWord === word" class="progress"> </div>
                </div> -->
