:host ::ng-deep del {
    color: red;
}

:host ::ng-deep ins {
    color: blue;
}

.omitedWords {
    color: rgb(8, 141, 97);
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    padding-left: 2px;
}

.omitedWords>* {
    margin-left: 2px;
    margin-right: 2px;
}

.container {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: rgb(68, 2, 2) 1px solid;
}

.wordsContainer {
    width: 98%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.heading {
    font-weight: bold;
    font-size: 1em;
    text-decoration: underline;
}

.progress {
    width: 5px;
    background-color: white;
    display: flex;
    height: 1em;
    align-items: flex-end;
}

.progressItem {
    background-color: rgb(248, 241, 241);
    width: 100%;
    height: 0%;
    text-align: center;
}

.historycontainer {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: rgb(6, 48, 1) 1px solid;
}

.historyprogress {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 1em;
    margin-top: 2px;
    margin-bottom: 1px;
}

.historyprogressItem {
    background-color: rgb(248, 241, 241);
    width: 0%;
    height: 100%;
    flex-grow: 1;
}