<div class="container">
    <div class="recordControl">
        <div class="google-microphone" (click)="startListening()">
            <div [ngClass]="{'shadow listening': isListening }">
                <!--class="shadow listening"-->
                <div class="gn">
                    <div class="mc"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="spokenBox">
        <p> {{ spokenText }} </p>
        <p class="error" *ngIf="errorMessage?.length > 0"> {{ errorMessage }} </p>
    </div>
</div>
