<div class="container">
    <div class="header"> ECube English Helper</div>
    <div class="story-page">
        <div class="box">
            <img src="assets/img/sheebu.png" />
            <div class="text">
                <p> {{story}} </p>
            </div>
        </div>
        <div>
            <app-recorder #recorder (completed)="recordCompleted($event)"> </app-recorder>
        </div>
    </div>
    <div class="story-review">
        <app-speechreview [originalText]="story" [spokenText]="spokenStory"></app-speechreview>

    </div>
    <div class="story-assessment">
        <app-speechassess [originalText]="story" [spokenText]="spokenStory"></app-speechassess>
    </div>
    <div class="learning">
    </div>
</div>