<!-- <app-recorder> </app-recorder> -->

<button routerLink="/speech/recorder">Recorder</button>
<button routerLink="/speech/speaker">Speaker</button>

<button (click)="startAudio()">SpeakerMyWord</button>
<button (click)="playAudio()">
  <i class="fa fa-2x"  [ngClass]="{'fa-play': !isPlaying, 'fa-pause': isPlaying }" aria-hidden="true "></i>
</button>

<button (click)="stopAudio()">
  <i class="fa fa-stop-circle fa-2x"   aria-hidden="true "></i>
</button>
<button (click)="playAudioFragment()">PlayAudioFragment</button>

<app-speaker #speaker [messagetoSpeak]="message"> </app-speaker>


<router-outlet></router-outlet>